$body-color: config('colors.grey-darker');
$link-color: config('colors.blue-light');

$button-color: config('colors.grey-darker');
$button-static-color: config('colors.grey-dark');

$button-border-width: 1px;
$button-border-color: config('colors.grey-light');
$button-hover-border-color: config('colors.grey');

$title-size: config('textSizes.xl');
$title-color: config('colors.blue');
$title-weight: config('fontWeights.normal');

$field-margin: config('margin.8');

$label-size: config('textSizes.sm');
$label-color: config('colors.blue-light');
$label-weight: config('fontWeights.bold');

$help-color: config('colors.grey-darker');

$pagination-color: config('colors.grey-dark');
$pagination-current-background-color: config('colors.blue-light');
