.background {
    &.is-white {
        background-color: $white;
    }

    &.is-secondary {
        color: $blue-light;
        background-color: $secondary;
    }

    &.is-blue-dark {
        background-color: $blue-dark;
    }

    &.is-gradient {
        background: linear-gradient(to bottom, rgba($blue-dark, 1) 0%, rgba($coral-dark, 1) 80%, rgba($coral-darker, 1) 100%);
    }

    &.is-grey-light {
        background-color: $grey-light;
    }

    &.is-grey-lighter {
        background-color: $grey-lighter;
    }
}
