.alert {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: $radius;
    background-color: $white;

    .alert-content {
        padding: 2rem;
    }

    .modal-card-foot {
        justify-content: center;

        .button {
            min-width: 50%;
        }
    }
}
