.pagination {
    .pagination-previous,
    .pagination-next,
    .pagination-link {
        min-width: 3em;
    }

    .pagination-previous,
    .pagination-next,
    .pagination-link,
    .pagination-ellipsis {
        height: 2.75em;
        padding-left: .75em;
        padding-right: .75em;
    }

    .pagination-ellipsis {
        color: $grey-darker;
    }
}
