$progress-bar-color: config('colors.primary') !default;

#nprogress {
    .bar {
        background: $progress-bar-color;
    }

    .peg {
        box-shadow: 0 0 10px $progress-bar-color,
                    0 0 5px $progress-bar-color;
    }
}
