.login-holder {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .login-wrap {
        width: 100%;
        margin: auto;
        max-width: 380px;

        .login-top {
            text-align: center;
            border-radius: $radius $radius 0 0;
        }

        .login-bottom {
            border-radius: 0 0 $radius $radius;
        }
    }

    .login-logo {
        max-width: 80%;
        margin-left: auto;
        text-align: center;
        align-self: flex-end;

        @include mobile {
            margin-right: auto;
        }

        svg {
            max-width: 100%;

            path {
                fill: rgba($white, .45);
            }
        }
    }
}
